<%- partial('_partial/header') %>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Element page</h2>
        <p>Nulla, ut accusamus ea quos porro ducimus non nam adipisci cumque sunt voluptas tempore qui maiores. Temporibus possimus provident vitae tenetur explicabo.</p>
      </div>
    </div>
  </div>
</div>
<%- partial('_partial/footer') %>
